
body {
    background-color: #f5f5eb;
    font-size: 220%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-stretch:extra-expanded;
    padding-top: 3%;
}
.accordion {
    width:90rem;
    margin:auto;
}
hr {
  flex-grow: 1;
    color: #f6f6ee;
    margin: 0 0 0 0;
}

h1{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 150%;
    line-height: 100%; 
    text-decoration: none;
    color: #010201;
    font-size: 200%;
    font-stretch: expanded;
    padding-bottom: 3%;
}

.meme{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
label {
    padding-top:3%;
    display:flex;
    flex-direction: column;
}

.accordion img {
    width:50%;
    align-self: center;
    display: none;
}


.accordion input{
    display: none;
}

input:checked ~ label img{
    display:block;
    align-self: center;
}
input:checked ~ label .mn{
    display:block;
}
input:checked ~ label .pl{
    visibility:hidden;
}

label:active > img{
    filter: blur(4px);
}
.vis {
    display:flex;
    width:100%;
    justify-content: space-between;
    padding-bottom: 3%;
}
.pl {
}

.mn {
    display:none;
    }
.meme * {
    cursor: pointer;
}
.meme:active * {
    cursor: grabbing;
}


@media (hover: hover) {
    
  .icon{
    display:none;
}
    
  .accordion:hover .icon{
      display:flex;
  }
  label:hover .mn{
    display:block;
  }
  label:hover .pl{
    visibility:hidden;
  }
  label:hover > img{
      display:block;
      align-self: center;
  }
  }